@font-face
  font-family: 'DrukCyr-Heavy'
  src: url("../fonts/DrukCyr-Heavy.woff")

@font-face
  font-family: 'DrukCyr-Medium'
  src: url("../fonts/DrukCyr-Medium.woff")

@font-face
  font-family: 'roadradio-bold'
  src: url("../fonts/roadradio-bold.woff")