$blue: #000055
$white: #ffffff
$magenta: #FF267E
$green: #3AFFC3
$black: #090909
$red: #D0133E

$font-drukcyr-heavy: DrukCyr-Heavy, sans-serif
$font-drukcyr-med: DrukCyr-Medium, sans-serif
$font-roadradio-bold: roadradio-bold, sans-serif


.popup1, .popup2, .closePopup
  position: absolute
  top: 0
  left: 0
  width: 60px
  height: 20px
  z-index: 20
.popup2
  top: 21px

.closePopup
  top: 41px

._hidden
  display: none !important

._opacity
  opacity: 1 !important

._zIndex
  z-index: 10 !important
//._zIndexLink
//  z-index: 20 !important

._btnPulse
  animation: pulseBtn 3s ease-in-out infinite

.all-link
  position: fixed
  z-index: 0
  width: 100%
  height: 100%
  left: 0
  top: 0


body
  overscroll-behavior: none
  -webkit-tap-highlight-color: transparent
  background: $black
  overflow: hidden
  img
    max-width: 100%
    height: auto

.land
  background: $black
  display: flex
  align-items: center
  position: relative
  justify-content: flex-start
  max-height: 100vh
  min-height: 100vh
  padding: 175px 0 50px 40px
  overflow: hidden
  z-index: 10
  pointer-events: none
  &__decor
    content: ""
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: url("../img/noise.png") no-repeat 0 0/cover
    &::before, &::after
      content: ""
      display: block
      position: absolute
      animation: opacity 1.4s ease-in
    &::before
      right: 0
      top: 0
      background: url("../img/plane-bg.png") no-repeat 0 0/contain
      width: 40%
      height: 100%
    &::after
      left: 0
      bottom: 0
      background: url("../img/propeller-bg.png") no-repeat 0 0/contain
      width: 55%
      height: 55%

  &__logo
    position: absolute
    top: 50px
    left: 40px
    z-index: 3
    max-width: 310px
  &__text
    align-self: flex-start
    max-width: 430px
    position: relative
    z-index: 2
    &-title
      font-size: 140px
      line-height: .9em
      text-transform: uppercase
      font-family: $font-drukcyr-med
      color: transparent
      background: linear-gradient(180deg, #F4F4F4 1.84%, #CBCBCB 30.59%, #717171 99.69%)
      background-clip: text
    &-item
      color: $red
      font-family: $font-roadradio-bold
      font-size: 64px

  &__wheel
    width: 910px
    height: 910px
    flex-shrink: 0
    position: relative
    align-self: center
    margin: -120px auto 0 40px
    transform-origin: center
    &::before
      content: ""
      display: block
      width: 1920px
      height: 1920px
      position: relative
      top: -505px
      left: -505px
      background: url("../img/wheel/wheel-bg-decor.svg") no-repeat 50% 50%/contain
      animation: opacity 1.4s ease-in, spinDecor 50s linear infinite
    &::after
      content: ""
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: $red
      box-shadow: 0 0 40px $red
      z-index: 0
      border-radius: 50%
      animation: wheelLight 3s ease-in-out infinite
    &-border, &-sector
      position: absolute
    &-border
      z-index: 2
      width: 895px
      height: 895px
      left: 10px
      top: 6px
      background: url("../img/wheel/border.png") no-repeat 0 0/contain
      @media screen and (max-width: 1050px)
        background: url("../img/wheel/border-mob.png") no-repeat 0 0/contain
    &-sector
      z-index: 1
      width: 910px
      height: 910px
      top: 0
      left: 0
      background: url("../img/wheel/sector.png") no-repeat 0 0/contain
      @media screen and (max-width: 1050px)
        background: url("../img/wheel/sector-mob.png") no-repeat 0 0/contain
    &-btn
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      text-transform: uppercase
      color: $white
      font-family: $font-drukcyr-heavy
      font-size: 100px
      width: 325px
      height: 325px
      left: 50%
      pointer-events: initial
      top: 50%
      transform: translate(-50%, -50%)
      transform-origin: left top
      z-index: 3
      background: url("../img/wheel/btn-bg.png") no-repeat 0 0/contain
      @media screen and (max-width: 1050px)
        background: url("../img/wheel/btn-bg-mob.png") no-repeat 0 0/contain
      &:hover
        cursor: pointer
        animation-play-state: paused
        //animation: none

  &__pers
    position: absolute
    bottom: -20vh
    right: -100px
    z-index: 4
    width: 70vh
    &::before
      display: block
      content: ""
      width: 110%
      height: 70%
      position: absolute
      top: 7%
      left: -9%
      background: url("../img/pers-decor.png") no-repeat 0 0/contain
      z-index: -1
      animation: opacityPulse 3s ease-in-out infinite
  &__plane
    width: 1725px
    height: 530px
    background: url("../img/plane-desc.png") no-repeat 0 0/contain
    position: absolute
    right: 60%
    bottom: -8%
    //transform: perspective(600px) translate3d(-400px, 0, -600px)
    animation: fadeInPlane 1.7s ease-out
    @media screen and (max-width: 1300px) and (orientation: portrait)
      background: url("../img/plane-tab.png") no-repeat 0 0/contain
      z-index: 4
    @media screen and (max-width: 1050px)
      background: url("../img/plane-tab.png") no-repeat 0 0/contain
      z-index: 4
    @media screen and (max-width: 1050px) and (max-height: 770px) and (orientation: landscape)
      background: url("../img/plane-desc.png") no-repeat 0 0/contain
    @media screen and (max-width: 600px)
      background: url("../img/plane-mob.png") no-repeat 0 0/contain
  &__footer
    position: absolute
    bottom: 50px
    left: 40px
    background: url("../img/footer.svg") no-repeat 0 0/contain
    width: 100%
    height: 100%
    max-width: 513px
    max-height: 23px
    z-index: 3


.popup
  width: 100%
  height: 100%
  position: fixed
  transition: all 1s ease-in-out
  top: 0
  left: 0
  background: rgba($black, .6)
  backdrop-filter: blur(6px)
  display: flex
  align-items: center
  justify-content: center
  z-index: -1
  opacity: 0
  &__logo
    display: none
    position: absolute
    top: 50px
    left: 50%
    z-index: 3
    max-width: 275px
    transform: translate(-50%, 0)
  &__first, &__second
    &-text
      display: none
  &__icon, &__btn
    .first-win, .second-win
      display: none

  &._first
    .popup
      &__icon
        animation: spinDecor 12s linear infinite
        max-width: 220px
      &__first
        &-text
          display: block
      &__icon, &__btn
        .first-win
          display: block
  &._second
    .popup
      &__second
        &-text
          display: block
      &__icon, &__btn
        .second-win
          display: block
      &__icon
        .second-win
          max-width: 335px
          animation: floatPlane 3s ease-in-out infinite
  &__container
    padding: 45px 100px
    display: flex
    flex-shrink: 0
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: 735px
    height: 675px
    position: relative
    background: url("../img/popup/popup-bg.png") no-repeat 0 0/contain
    .popup__money-item
      z-index: -1
      width: 35.7%
      height: 38.9%
      position: absolute
      top: -20%
      left: -25%
      background: url("../img/popup/dollar1.png") no-repeat 0 0/contain
  &__title
    color: $red
    font-family: $font-roadradio-bold
    font-size: 48px
    line-height: 48px
  &__first, &__second
    &-text
      font-size: 138px
      line-height: 138px
      text-transform: uppercase
      font-family: $font-drukcyr-med
      color: transparent
      background: linear-gradient(180deg, #F4F4F4 1.84%, #CBCBCB 30.59%, #717171 99.69%)
      background-clip: text
  &__btn
    display: flex
    align-items: center
    justify-content: center
    background: linear-gradient(180deg, $red -0.72%, #39000D 89.01%)
    box-shadow: 0px 5.4px 0px 0px $red
    border-radius: 15px
    padding: 30px 45px
    transition: background .8s ease
    pointer-events: initial
    animation: pulseBtnPopup 2s ease-in-out infinite
    &:hover
      cursor: pointer
      background: linear-gradient(180deg, #39000D -0.72%, $red 89.01%)
      //box-shadow: 0px -5.4px 0px 0px $red
      animation-play-state: paused

    .first-win, .second-win
      color: $white
      width: 100%
      height: 100%
      font-family: $font-roadradio-bold
      font-size: 57px
      text-transform: uppercase
  &__pers
    display: none
  &__money
    flex-shrink: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 735px
    height: 675px
    z-index: 0
    pointer-events: none
    &-item
      position: absolute
      pointer-events: none
      &:nth-child(1)
        background: black
        width: 35%
        height: 40%
        top: -12%
        right: -15%
        background: url("../img/popup/dollar2.png") no-repeat 0 0/contain
      &:nth-child(2)
        background: black
        width: 40%
        height: 40%
        bottom: 2%
        left: -37%
        background: url("../img/popup/dollar3.png") no-repeat 0 0/contain
      &:nth-child(3)
        background: black
        width: 82%
        height: 53%
        bottom: -24%
        right: -47%
        background: url("../img/popup/dollar4.png") no-repeat 0 0/contain
      &:nth-child(4)
        display: none






@keyframes firstSpin
  0%
    transform: rotate(0deg)
  10%
    transform: rotate(-25deg)
  70%
    transform: rotate(1640deg)
  80%
    transform: rotate(1610deg)
  90%
    transform: rotate(1630deg)
  100%
    transform: rotate(1620deg)


@keyframes secondSpin
  0%
    transform: rotate(1620deg)
  10%
    transform: rotate(1600deg)
  70%
    transform: rotate(2765deg)
  80%
    transform: rotate(2735deg)
  90%
    transform: rotate(2750deg)
  100%
    transform: rotate(2744.5deg)

.firstSpin
  animation: firstSpin 7s ease-in-out

.secondSpin
  animation: secondSpin 7s ease-in-out

@keyframes wheelLight
  0%, 100%
    box-shadow: 0 0 30px $red
  50%
    box-shadow: 0 0 80px $red


@keyframes opacity
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes opacityPulse
  0%, 100%
    opacity: .4
  50%
    opacity: .8

@keyframes spinDecor
  0%, 100%
    transform: rotate(0deg)
  50%
    transform: rotate(180deg)

@keyframes pulseBtn
  0%, 100%
    transform: scale(1) translate(-50%, -50%)
  50%
    transform: scale(1.05) translate(-50%, -50%)

@keyframes pulseBtnPopup
  0%, 100%
    transform: scale(1)
  50%
    transform: scale(1.05)

@keyframes fadeInPlane
  0%
    opacity: .3
    transform: perspective(600px) translate3d(-100px, 0, -300px)
  100%
    opacity: 1
    transform: perspective(600px) translate3d(0px, 0px, 0px)

@media screen and (max-width: 1300px) and (orientation: portrait)
  @keyframes fadeInPlane
    0%
      opacity: .3
      transform: perspective(600px) translate3d(100px, 0, -300px)
    100%
      opacity: 1
      transform: perspective(600px) translate3d(0px, 0px, 0px)


@media screen and (max-width: 600px) and (orientation: portrait)
  @keyframes fadeInPlane
    0%
      opacity: .3
      transform: perspective(600px) translate3d(-300px, 0, -400px)
    100%
      opacity: 1
      transform: perspective(600px) translate3d(0px, 0px, 0px)

@media screen and (max-width: 700px) and (max-height: 700px) and (orientation: landscape) and (min-width: 650px) and (min-height: 500px)
  @keyframes fadeInPlane
    0%
      opacity: .3
      transform: perspective(600px) translate3d(600px, 0, -400px)
    100%
      opacity: 1
      transform: perspective(600px) translate3d(0px, 0px, 0px)

@keyframes hoverBtn
  0%
    background: linear-gradient(180deg, #E50539 -0.72%, #39000D 89.01%)
  100%
    background: linear-gradient(180deg, #39000D -0.72%, #E50539 89.01%)

@keyframes floatPlane
  0%,100%
    transform: translate(0, 0)
  50%
    transform: translate(7px, -3px)


