a(href="https://tds.favbet.partners").all-link._hidden
.land
    .land__decor
    .land__logo
        picture
            source(srcset="./img/logo-mob.png" media="(max-width: 1050px)")
            img(src="./img/logo.png" alt="lopebet")
    .land__text
        .land__text-title Spin to get the bonus
        .land__text-item from Samir
    .land__wheel
        .land__wheel-border
        .land__wheel-sector
        .land__wheel-btn._btnPulse spin
        .land__plane
    .land__pers
        picture
            source(srcset="./img/pers-mob.png" media="(max-width: 600px)")
            source(srcset="./img/pers-tab.png" media="(max-width: 1050px)")
            img(src="./img/pers-desc.png" alt="Samir")
    .land__footer
    .popup
        .popup__logo
            picture
                source(srcset="./img/logo-mob.png" media="(max-width: 1050px)")
                img(src="./img/logo.png" alt="lopebet")
        .popup__pers
            picture
                source(srcset="./img/pers-tab.png" media="(max-width: 1050px)")
                img(src="./img/pers-desc.png" alt="Samir")
        .popup__container
            .popup__title LUCK IS ON YOUR SIDE
            .popup__first-text +700%
            .popup__second-text 700% + 500 fs
            .popup__icon
                img(src="./img/popup/popup-spin-icon.png" alt="lopebet").first-win
                img(src="./img/popup/popup-icon-plane.png" alt="lopebet").second-win
            .popup__btn
                span.first-win spin more
                a(href="https://tds.favbet.partners").second-win get the bonus
            .popup__money-item.parallax(data-value="4")
        .popup__money
            .popup__money-item.parallax(data-value="-5")
            .popup__money-item.parallax(data-value="2")
            .popup__money-item.parallax(data-value="-6")
            .popup__money-item.parallax(data-value="-6")
