a(href="https://tds.favbet.partners").all-link.hide
.bonus
  .bonus__overlay.opacity-overlay
    .bonus__firstWin.hide
      .bonus__firstWin-image
        picture.land__firstWin-main
          source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/pers-mob.png")
          source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/pers-mob.png")
          source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/pers-desc.png")
          source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/pers-desc.png")
          img(src="img/pers-desc.png" alt="Favbet")
      .bonus__firstWin-info
        .bonus__star3._star1
        .bonus__star2._star1
        .bonus__star1._star1
        .bonus__popup-logo
        .bonus__firstWin-title Luck is on your side
        .bonus__firstWin-win
          img(src="./img/firstWinText.png" alt="+700%")
        .bonus__firstWin-btn #[span(data-before="Spin more") Spin more]
    .bonus__secondWin.hide
      .bonus__secondWin-image
        picture.land__firstWin-main
          source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/pers-mob.png")
          source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/pers-mob.png")
          source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/pers-desc.png")
          source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/pers-desc.png")
          img(src="img/pers-desc.png" alt="Favbet")
      .bonus__secondWin-info
        .bonus__star3._star2
        .bonus__star2._star2
        .bonus__star1._star2
        .bonus__popup-logo
        .bonus__secondWin-title Luck is on your side
        .bonus__secondWin-win
          img(src="./img/secondWinText.png" alt="700% + 500free spins")
        a(href='https://tds.favbet.partners' target="_blank").bonus__secondWin-btn #[span(data-before="Get the bonus") Get the bonus]
  .bonus__main
    .bonus__main-logo
    .bonus__main-txt(data-before="Spin to get" data-after="a bonus") #[span.bonus__main-txt-content Spin <br> to get <br> a bonus]
    .bonus__main-image
      picture.land__image-main
        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/pers-mob.png")
        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/pers-mob.png")
        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/pers-desc.png")
        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/pers-desc.png")
        img(src="img/pers-desc.png" alt="Favbet")
    .bonus__main-wrapper
      .bonus__main-slot-logo
      .play-btn.pulse-btn
      .bonus__main-slots
        .slots
          .window
            .outer-col.outer-col-win
              .col
            .outer-col
              .col
            .outer-col
              .col
            .outer-col
              .col
            .outer-col
              .col
    .bonus__main-footer